*{
    box-sizing: border-box;
    margin: 0px;
}
body{
    margin: 0 auto;
    font-family:'Times New Roman', Times, serif;
    padding: 0;
    background-color: rgba(252, 234, 213, 0.555);
}

h1{
    font-size: 50px;
    text-align: center;
    color: rgb(0, 0, 0);
}
header{
    background-color: red;
    text-align: center;
    padding: 18px;
}
.white{
    color: rgb(255, 255, 255);
}
.menu{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 20px;
}
a.menu:hover {
    background-color: rgb(179, 179, 179, 0.993);
    color: rgb(0, 0, 0);
}
.conteudo{
    width: 1400px;
    margin: 0;
}
.foto{
    display: block;
    margin: 60px auto;
    border: solid rgb(0, 0, 0) 6px;
    border-radius: 15px;
    background: white;
}
.fundo{
    width: 1145px;
    float: left;
    clear: both;
}
p{ 
    text-align: center;
    margin: 0px 200px;
    width: 700px;
    font-size: 22px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    clear: both;
}
#direitos{
    text-align: center;
    font-size: 17px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    margin: 10px 570px;
}
.rodapé{
    background-color: red;
    padding: 13px;
    margin-top: 70px;
    position: static;
}
.insta{
    margin: 0;
    padding: 0;
    transform: translate(200px, -42px) 
}
.nomeInsta{
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin: 0px 205px;
    position: relative;
    top: -47px;
}
a.nomeInsta:hover{
    color: black;
    background: white;
}
